*{
  margin: 0;
  padding: 0;
}

.App {
}

.Nav {
  height: 4rem;
  box-shadow: grey 0 0 6px 2px;
  text-align: center;
}

.Nav .Nav-Text {
  padding-top: .7em;
}

.Content {
  padding-top: 2rem;
}

.Content .Content-Search{
  list-style: none;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.Content .Content-Search li {
  padding-right: 1em;
}

.Content .Content-Search li:last-child {
  padding-right: 0;
}

.Content .Content-Table {
  margin-top: 2em;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.Content .Content-Table td, .Content .Content-Table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.Content .Content-Table tr:nth-child(even) {
  background-color: #dddddd;
}
